# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

# Xcode specific files
.DS_Store
build/
DerivedData/
xcuserdata/
.idea/
*.xcuserstate
*.xcworkspace

# Project settings that may cause merge conflicts
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcconfig
*.xcodeproj/xcshareddata/

DerivedData/
.idea/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcconfig
*.xcodeproj/xcshareddata/
*.xcodeproj/xcuserdata/

## User settings
xcuserdata/
*.moved-aside

# Xcode Coverage Data
*.xccoverage

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Archive and Provisioning Profiles
*.ipa
*.app
*.dSYM/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

# Swift Package Manager
/.build/
/Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/
pod_modules/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# SwiftPM
.swiftpm/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other
*.swp
*.swo
*.log
